RewriteEngine on
RewriteBase /

# if a directory or a file exists, use it directly
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . index-test.php

# RewriteCond $1 !^(index-test\.php)
# RewriteRule ^(.+)$ index-test.php?$1 [PT,L,QSA]